*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1a1a1a;
  width: 100%;
  color: #fff;
  font-family: sans-serif;
}
img, video{
  width: 100%;
}
.progress-container {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  z-index: 1;
}

.progress {
  height: 2px;
  flex-grow: 1;
  border-radius: 4px;
  margin: 0 2.5px;
  display: flex;
  background-image: -webkit-linear-gradient(
    left,
    #ffffff 0%,
    #ffffff 50%,
    #40404050 50.001%,
    #40404050 100%
  );
  background-repeat: no-repeat;
  background-size: 200%;
  background-color: #666;
  background-position: 100% 50%;
  animation-timing-function: linear;
  animation-delay: 0.2s;
}

.progress.active {
  animation-name: Loader;
}

.progress.passed {
  background-position: 0 0;
}

@-webkit-keyframes Loader {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/************************/
/************************/
/***** DEBUG STYLES *****/
/************************/
/************************/

.pause:hover .progress {
  animation-play-state: paused;
}

.pause .not-hovered {
  display: block;
}
.pause .hovered {
  display: none;
}

.pause:hover .not-hovered {
  display: none;
}
.pause:hover .hovered {
  display: block;
}
.story-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.story{
  box-shadow: 0px 0px 100px 100px #00000005;
  aspect-ratio: 9 / 16;
  height: 90%;
  background-color: #313131;
  border-radius: 8px;
  border: 0;
  position: absolute;
}
.img-story, .video-story{
  position: relative;
  z-index: 0;
  border-radius: 8px;
}
.button-invisible {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  z-index: 2;
}
#button-prev {
  left: 0;
}
#button-next {
  right: 0;
}
.button-invisible-swipe {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  z-index: 2;
}